@model ReAl.Lumino.Encuestas.Models.SegUsuarios

@section Styles
{
	<!-- Sweetalert CSS -->
	<link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
}	

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">SegUsuarios</h1>
	</div>
</div><!--/.row-->

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">Edit</div>
<div class="panel-body">	
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" role="form" method="post" id="EditForm" class="form-horizontal row-border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idsus" />
            <div class="form-group">
                <label asp-for="Login" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Login" class="form-control" />
				</div>
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Password" class="form-control" />
				</div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Nombres" class="form-control" />
				</div>
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Apellidos" class="form-control" />
				</div>
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Correo" class="form-control" />
				</div>
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vigente" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Vigente" class="form-control" />
				</div>
                <span asp-validation-for="Vigente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcde" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<select asp-for="Idcde" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.Idcde"></select>
				</div>
                <span asp-validation-for="Idcde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idobr" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<select asp-for="Idobr" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.Idobr"></select>
				</div>
                <span asp-validation-for="Idobr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tablet" class="col-md-2 control-label"></label>
				<div class="col-md-10">
					<input asp-for="Tablet" class="form-control" />
				</div>
                <span asp-validation-for="Tablet" class="text-danger"></span>
            </div>
				<input asp-for="Apiestado" class="form-control" type="hidden" />
				<input asp-for="Apitransaccion" class="form-control" type="hidden" />
				<input asp-for="Usucre" class="form-control" type="hidden" />
				<input asp-for="Feccre" class="form-control" type="hidden" />
				<input asp-for="Usumod" class="form-control" type="hidden" />
				<input asp-for="Fecmod" class="form-control" type="hidden" />
            <div class="form-group">
				<div class="col-md-10">
					<input type="submit" value="Guardar cambios" class="btn btn-default" onclick="Validate(this, event);"/>
				</div>
            </div>
        </form>
    </div>
</div>

</div>
</div>
</div>
</div><!-- /.row -->


<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts
{
	<!-- Sweetalert JavaScript -->
	<script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
	
	<script>
		function Validate(ctl, event)
		{
			event.preventDefault();
			swal({
				title: "¿Seguro que desea guardar los cambios del registro?",
				text: "Verifique la información antes de aceptar!",
				type: "question",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Actualizar",
				cancelButtonText: "Cancelar"
			}).then(function(isConfirm) {
				if (isConfirm.value) {
					$("#EditForm").submit();
				} else {
					swal("Cancelled", "Se ha cancelado la accion", "error");
				}
			});
		}
	</script>
}	

