@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
	<ol class="breadcrumb">
		<li><a href="#">
			<em class="fa fa-home"></em>
		</a></li>
		<li class="active">Dashboard</li>
	</ol>
</div><!--/.row-->

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Dashboard
		</h1>
	</div>
</div><!--/.row-->

<div class="panel panel-container">
	<div class="row">
		<div class="col-xs-6 col-md-4 col-lg-4 no-padding">
			<div class="panel panel-blue panel-widget border-right">
				<div class="row no-padding"><em class="fa fa-xl fa-download color-orange"></em>
					<div class="large">v1.0</div>
					<h5>Aplicación Android</h5>
					<div class="text-muted">Descarga aqui</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4 col-lg-4 no-padding">
			<div class="panel panel-orange panel-widget border-right">
				<div class="row no-padding"><em class="fa fa-xl fa-users color-teal"></em>
					<div class="large">24</div>
					<h5>Informantes registrados</h5>
					<div class="text-muted">S&oacute;lo nivel 1</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4 col-lg-4 no-padding">
			<div class="panel panel-red panel-widget ">
				<div class="row no-padding"><em class="fa fa-xl fa-check-square-o color-red"></em>
					<div class="large">25000</div>
					<h5>Preguntas respondidas</h5>
					<div class="text-muted">Nivel 1 y 2</div>
				</div>
			</div>
		</div>
	</div><!--/.row-->
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Monitoreo de consolidaci&oacute;n
			</div>
			<div class="panel-body">
				<div class="canvas-wrapper">
					<canvas class="chart" id="line-chart" height="200" width="600"></canvas>
				</div>
			</div>
		</div>
	</div>
</div><!--/.row-->

<div class="row">
	<div class="col-xs-6 col-md-3">
		<div class="panel panel-default">
			<div class="panel-body easypiechart-panel">
				<h4>New Orders</h4>
				<div class="easypiechart" id="easypiechart-blue" data-percent="92" ><span class="percent">92%</span></div>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-md-3">
		<div class="panel panel-default">
			<div class="panel-body easypiechart-panel">
				<h4>Comments</h4>
				<div class="easypiechart" id="easypiechart-orange" data-percent="65" ><span class="percent">65%</span></div>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-md-3">
		<div class="panel panel-default">
			<div class="panel-body easypiechart-panel">
				<h4>New Users</h4>
				<div class="easypiechart" id="easypiechart-teal" data-percent="56" ><span class="percent">56%</span></div>
			</div>
		</div>
	</div>
	<div class="col-xs-6 col-md-3">
		<div class="panel panel-default">
			<div class="panel-body easypiechart-panel">
				<h4>Visitors</h4>
				<div class="easypiechart" id="easypiechart-red" data-percent="27" ><span class="percent">27%</span></div>
			</div>
		</div>
	</div>
</div><!--/.row-->

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default ">
			<div class="panel-heading">
				Notificaciones
			</div>
			<div class="panel-body timeline-container">
				<ul class="timeline">
					<li>
						<div class="timeline-badge"><em class="glyphicon glyphicon-pushpin"></em></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Lorem ipsum dolor sit amet</h4>
							</div>
							<div class="timeline-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-badge primary"><em class="glyphicon glyphicon-link"></em></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Lorem ipsum dolor sit amet</h4>
							</div>
							<div class="timeline-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-badge"><em class="glyphicon glyphicon-camera"></em></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Lorem ipsum dolor sit amet</h4>
							</div>
							<div class="timeline-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-badge"><em class="glyphicon glyphicon-paperclip"></em></div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Lorem ipsum dolor sit amet</h4>
							</div>
							<div class="timeline-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
					</li>
			</ul>
		</div>
	</div>
</div><!--/.col-->
<div class="col-sm-12">
	<p class="back-link">Lumino Theme by <a href="https://www.medialoot.com/">Medialoot</a></p>
</div>
</div><!--/.row-->

@section IncludeScripts
{
	<script src="~/js/chart.min.js"></script>
	<script src="~/js/chart-data.js"></script>
	<script src="~/js/easypiechart.js"></script>
	<script src="~/js/easypiechart-data.js"></script>
}

@section Scripts
{
	<script>
		window.onload = function () {
			var chart1 = document.getElementById("line-chart").getContext("2d");
			window.myLine = new Chart(chart1).Line(lineChartData, {
				responsive: true,
				scaleLineColor: "rgba(0,0,0,.2)",
				scaleGridLineColor: "rgba(0,0,0,.05)",
				scaleFontColor: "#c5c7cc"
			});
		};
	</script>
}