@model ReAl.Lumino.Encuestas.Models.CatTiposPregunta

@section Styles
{
	<!-- Sweetalert CSS -->
	<link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
}	

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">CatTiposPregunta</h1>
	</div>
</div><!--/.row-->

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">Edit</div>
<div class="panel-body">	
    <div class="col-md-6">
        <form asp-action="Edit" role="form" method="post" id="EditForm">
            <div class="form-group">
                <a title="Volver al listado" class="btn btn-primary" asp-action="Index" ><i class="fa fa-arrow-left"></i></a>
                <a title="Guardar cambios" class="btn btn-primary" onclick="Validate(this, event);"><i class="fa fa-save"></i></a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idctp" />
            <div class="form-group">
                <label asp-for="TipoPregunta"></label>
                <input asp-for="TipoPregunta" class="form-control" />
                <span asp-validation-for="TipoPregunta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespuestaValor"></label>
                <input asp-for="RespuestaValor" class="form-control" />
                <span asp-validation-for="RespuestaValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExportarCodigo"></label>
                <input asp-for="ExportarCodigo" class="form-control" />
                <span asp-validation-for="ExportarCodigo" class="text-danger"></span>
            </div>
				<input asp-for="Apiestado" class="form-control" type="hidden" />
				<input asp-for="Apitransaccion" class="form-control" type="hidden" />
				<input asp-for="Usucre" class="form-control" type="hidden" />
				<input asp-for="Feccre" class="form-control" type="hidden" />
				<input asp-for="Usumod" class="form-control" type="hidden" />
				<input asp-for="Fecmod" class="form-control" type="hidden" />
        </form>
    </div>
</div>

</div>
</div>
</div><!-- /.row -->


@section Scripts
{
	<!-- Sweetalert JavaScript -->
	<script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
	
	<script>
		function Validate(ctl, event)
		{
			event.preventDefault();
			swal({
				title: "¿Seguro que desea guardar los cambios del registro?",
				text: "Verifique la información antes de aceptar!",
				type: "question",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Actualizar",
				cancelButtonText: "Cancelar"
			}).then(function(isConfirm) {
				if (isConfirm.value) {
					$("#EditForm").submit();
				} else {
					swal("Cancelled", "Se ha cancelado la accion", "error");
				}
			});
		}
	</script>
}	

