@using System.Data
@model IEnumerable<ReAl.Lumino.Encuestas.Models.SegAplicaciones>


@section Styles
{
	<!-- Bootstrap-Table CSS -->
	<link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
	<!-- Sweetalert CSS -->
	<link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
}	

@{
    ViewData["Title"] = "Index";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Saltos</h1>
	</div>
</div><!--/.row-->


<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">Index</div>
<div class="panel-body">
	<div class="form-group">
		<a asp-action="Download" title="Descargar" class="btn btn-primary">
			<i class="fa fa-print"></i>
		</a>
	</div>
	<div class="col-md-12">
		<table id="miTabla" data-toggle="table" data-show-columns="true" data-pagination="true"
		       data-search="true" data-show-toggle="true" data-sortable="true"
		       data-page-size="25" data-pagination-v-align="both" data-show-export="true">
			<thead>
			<tr>
				<th>
					Origen
				</th>
				<th>
					Destino
				</th>
				<th>
					Orden
				</th>
				<th>
					Regla
				</th>
			</tr>
			</thead>
			<tbody>
			@foreach (DataRow fila in ((DataTable) ViewData["datos"]).Rows)
			{
				<tr>
					<td>
						@fila["origen"]
					</td>
					<td>
						@fila["destino"]
					</td>
					<td>
						@fila["orden"]
					</td>
					<td>
						@fila["regla"]
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>
</div>
</div>
</div><!-- /.row -->

@section Scripts
{
	<!-- Bootstrap-Table -->
	<script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
	<!-- Sweetalert JavaScript -->
	<script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
	<!-- DataTable -->
	$('#miTabla').bootstrapTable();
}	


